/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 120vh;
    font-family: sans-serif;
    padding: 2em;
    background-image: linear-gradient( 178.5deg, rgba(122,231,248,1) 6.5%, rgba(86,118,191,1) 90.9%);
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.glass {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px;
    color: #000;
    border-radius: 9px;
    backdrop-filter: blur(50px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
    line-height: 1.5;
    transform: translateY(-5%);
    transition: transform 0.5s;
}

.glass h1 {
    font-size: 1.5rem;
    text-align: center;
}

.glass h3 {
    color: violet;
    font-family: 'Cedarville Cursive', cursive;
}

.input {
    width: 100%;
    height: 70px;
    overflow: hidden;
    margin-top: 40px;
}

.input input {
    width: 100%;
    height: 70px;
    border: none;
    padding-left: 15px;
    outline: none;
    font-size: 1rem;
    border-radius: 10px;
}

/* Chat Log Styles */
#chatLog {
    font-size: 1rem;
    margin-top: 30px;
    height: 150px; /* Adjust height as needed */
    overflow-y: auto; /* Enables vertical scroll if content exceeds the height */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15); /* Slight background for better visibility */
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add inner shadow */
}
